<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Precavido.com | Dashboard</title>

<!-- Custom styles for this template -->
<link href="/css/dashboard.css" rel="stylesheet">
<link href="/css/style-db-profile.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/dashboard"><img class="img-logo"
					src="/assets/logo.png" width="200px" height="50px"></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/profile">Profile</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
                    <li class="active"><a>Dashboard</a></li>
                    <li class=""><a href="/dashboard">Página Inicial</a></li>
                </ul>
				<ul class="nav nav-sidebar">
					<li class="active"><a>Registro de Gastos</a></li>
					<li class=""><a href="/dashboard/payments">Exibir Gastos</a></li>
					<li class=""><a href="/dashboard/add">Adicionar Gastos</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="card hovercard ">
					<div class="cardheader"></div>
					<img class="wallpaper" src="/assets/wallpaper.jpg">
					<div class="avatar">
						<div th:if="${passwordDTO.image != null}">
							<img th:src="|/image/${passwordDTO.id}|">
						</div>
						<div th:if="${passwordDTO.image == null}">
							<img  src="/assets/profile.png">
						</div>
					
					</div>
					<div class="info col-sm-4"></div>
					<div class="info col-sm-4">
						<div class="title">Alterar Senha</div>
						<br></br>

						<form class="form-horizontal col-sm-12" method="post" th:object="${passwordDTO}"
							th:action="@{/profile/password/{id}(id=${passwordDTO.id})}">
						
							<div class="alert alert-success" role="alert"
								th:text="${mensagem}" th:if="${!#strings.isEmpty(mensagem)}">
							</div>	
							
			

							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>							
							
							<div class="form-group" th:classappend="${#fields.hasErrors('currentPassword')} ? has-error">
								<label for="password" class="cols-sm-2 control-label">Senha Atual</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
											type="password" class="form-control" name="currentPassword"
											id="currentPassword" placeholder="Nova Senha" th:field="*{currentPassword}"/>
									</div>
								</div>
							</div>
						
							<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
								<label for="password" class="cols-sm-2 control-label">Nova Senha</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
											type="password" class="form-control" name="password"
											id="password" placeholder="Nova Senha" th:field="*{password}"/>
									</div>
								</div>
							</div>
							
							<div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} ? has-error">
								<label for="password" class="cols-sm-2 control-label">Confirmar Nova Senha</label>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="fa fa-lock fa-lg" aria-hidden="true"></i></span> <input
											type="password"class="form-control" name="password"
											id="password" placeholder="Confirmar Nova Senha" th:field="*{confirmPassword}"/>
									</div>
								</div>
							</div>

							<div class="info">
								<a class="btn btn-danger" th:href="@{/profile}">Voltar</a>
								<button class="btn btn-success" type="submit">Salvar</button>
							</div>
						</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>